.App {
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 2.3fr;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
}

.nav {
    background-color: #f2acb9ad;
    grid-area: sidebar;
    height: 100vh;
    overflow: auto;
}

header {
    background-color: #f2acb9;
    grid-area: header;
    padding-left: 16px;
    font-size: 29px;
}

header a{
    color: #312d2bd2;
    text-decoration: none;
}

.main {
    background-color: #f2acb9d0;
    grid-area: main;
    height: calc(100vh - 120px);
    overflow: auto;
}